
body {
    margin:0;
    height: 100vh;
    background-color: bisque;

    display: flex;
    justify-content: center;
    align-items: center;
}


.container{
    display: flex;
    flex-direction: column;
    gap: 50px;
    height:450px;
    width: 450px;
    background-color: aquamarine;
    align-items: center;
    border-radius: 10px;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2); 
   
   
}
   

.heading {
    margin-top: -20px;
  
}

 #input {
   
   gap: 10px;
   
  
}

.filter {
    display: flex;
    gap: 50px;
    cursor: pointer;
    
  
    

} 
